body {
    text-align: center;
    background-image: url("https://media.istockphoto.com/photos/ballot-box-south-africa-picture-id675746974?b=1&k=20&m=675746974&s=170667a&w=0&h=sbyQT7jruFv-ENd_OX92ALimbybgVB3iw_wWWmEege0=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: greenyellow;
}